.flex-container {
  display: flex;
  justify-content: space-around;
  position: relative;
  right: 40% ;
  top: 30px ;

}

.flex-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

body {
background-color: #660099;

}

.card-img-bord{
    padding: 5%;

}

.par-square{
    background-color: #CCCCCC;
    border-radius: 10px;
}

.flex-block{
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 700px;
}