{% extends "header_temp.html" %}
{% block content %}
<h1>Добавление своего приложения</h1>
<form action="" method="post" enctype="multipart/form-data">
{{ form.hidden_tag() }}
<p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(class="form-control") }}<br>
        {% for error in form.description.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.price.label }}<br>
        {{ form.price(class="form-control") }}<br>
        {% for error in form.price.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.download_link.label }}<br>
        {{ form.download_link(class="form-control") }}<br>
        {% for error in form.download_link.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <label for="photo">Выберите файл для логотипа </label>
    <input type="file" class="form-control-file" id="photo" name="_logo">

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}



</form>
{% endblock %}