{% extends "header_temp.html" %}

{% block content %}
<div class="flex-container">
    {% for item in apps%}

    <div class="card text-center" style="width: 18rem; background-color: #7c68ed;">
        <img src="../static/soft_images/{{item.id}}.png" class="card-img-top card-img-bord" alt="...">
        <div class="card-body flex-card">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">{{item.description}}</p>
            <a href="/product_page&{{item.name}}" class="btn btn-dark">купить за {{item.price}}$</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
